* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://cdn.wallpapersafari.com/78/94/8JzIKP.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.wrapper {

    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 50px;

}

.wrapper h1 {
    text-align: center;
    font-size: 36px;
    color: rgb(6, 36, 36)
}

.wrapper .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;


}

.wrapper .input-box input {
    padding: 10px;
    border-radius: 5px;

}

input[type=submit] {
    margin-top: 10px;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(5, 5, 29);
    color: white;
    font-weight: bold;
}

.wrapper {

    width: 50%;
    margin: auto;
    margin-top: 150px;

}

.wrapper .input-box input:focus {
    border-bottom: 4px solid rgb(6, 60, 66)
}

p {
    font-weight: bold;
    color: white;
    margin-right: 15px
}

p a {
    color: rgb(63, 11, 11)
}